*/bin
*/Bin
*/obj
/packages/
*.bak
*.suo
*.dotCover
*.csproj.user
*.ncrunchproject
*.ncrunchsolution
*.crunchproject.local.xml
*.crunchsolution.cache
*.crunchsolution.local.xml
*.ncrunchsolution.user
*.dxcache
*.sln.DotSettings.user
Thumbs.db
.nuget/NuGet.exe
/build/temp
/build/Deployment
/build/Staging.config
/build/Deployment.config
/build/Demo.config
*/.idea/**/*
/.idea/**/*
./Code
.vs/
*~